---
// Feature Cards grid Section
// ------------
// Description: A grid of cards with feature information in a 4 column layout.

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - UI
import Card from '../../ui/cards/FeatureCard.astro'

// Content
// - Cards
import feature01 from '../../../assets/cards/feature-01.svg'
import feature02 from '../../../assets/cards/feature-02.svg'
import feature03 from '../../../assets/cards/feature-03.svg'
import feature04 from '../../../assets/cards/feature-04.svg'
import feature05 from '../../../assets/cards/feature-05.svg'
---

<Section id="features">
	<Row>
		<Col span="12" align="center" classes="mb-12 max-w-4xl mx-auto">
			<h2 class="text-pretty">On le sait que c’est compliqué et long la comptabilité… c’est pourquoi chez <strong>MPM</strong> , on rend ça simple, facile et complet.</h2>
			<p class="pb-0 text-lg">
				Avoir un département comptable, c’est pas payant pour une PME et on le sait. 
				Casse-toi pas la tête, fais affaire avec nous pour avoir la comptabilité de ton 
				entreprise en ordre au niveau comptable (et légal!) et enfin comprendre ou ta compagnie s’en va.
			</p>
		</Col>
	</Row>
	<Row>
		<Col span="4">
			<Card
				title="Tous les chiffres à une seule place"
				subtitle="En faisant affaire avec nous, tu as accès à tes revenues, tes dépenses ainsi que toutes les données financières a une place pour prendre des décisions éclairées rapidement et sans complications."
				image={feature01}
				link="/features"
			/>
		</Col>
		<Col span="4" classes="flex flex-col gap-6">
			<Card
				title="Des services qui répondent à tes besoins"
				subtitle="De la simple tenue de livres, aux paiements des fournisseurs en passant par la paie de vos employés ou aux différents rapports fiscaux légaux,MPM conseils vous offrira un service personnalisé qui te convient."
				image={feature02}
				link="/features"
			/>
			<Card
				title="Comprenez la santé financière de votre entreprise"
				subtitle="À quoi ca sert d'avoir des chiffres dans pleins de tableau si personne est capable de les comprendre ? Chez MPM Conseils, on s'assure de vous traduire les chiffres pour vous permettre de prendre des décisions éclairées sur l'avenir de votre compagnie."
				image={feature03}
				link="/features"
			/>
		</Col>
		<Col span="4" classes="flex flex-col gap-6">
			<Card
				title="Gardez un oeil sur vos clients"
				subtitle="Assurez un suivi de vos factures à la journée prêt afin de ne jamais être pris au dépourvu."
				image={feature04}
				link="/features"
			/>
			<Card
				title="Simplifier vos finances"
				subtitle="Vous avez accès à un tableau en temps réel pour ne pas stresser lorsque vient le temps de faire une dépenses."
				image={feature05}
				link="/features"
			/>
		</Col>
	</Row>
</Section>
